{% extends 'base.html' %}
{% block title %}
    <title>用户列表</title>
{% endblock %}

{% block content %}
    <form method="get" action=".">
    <input type="text" name="keyword" placeholder="请输入搜索关键字">
    <button type="submit">提交</button>
    {% csrf_token %}
    </form>
    <button><a href="{% url 'students:add' %}">添加用户</a></button>

    <br>
    <br>
    <table border="1">
    <thead>
    <tr>
        <td>用户名</td>
        <td>手机号</td>
        <td>性别</td>
        <td>密码</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {% for stu in all_students %}
        <tr>
            <td>{{ stu.name }}</td>
            <td>{{ stu.phone }}</td>
            <td>
                {% if stu.sex == 0 %}男{% endif %}
                {% if stu.sex == 1 %}女{% endif %}
            </td>
            <td>{{ stu.password }}</td>
            <td><a href="{% url 'students:update' stu.id %}">更新</a> <a href="{% url 'students:delete' stu.id %}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}